################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/.vs/WebApplication/DesignTimeBuild
*.v1
*.suo
*.config
*.dll
*.pdb
*.cache
*.targets
*.props
*.json
/WebApplication/WebApplication/bin/Debug/netcoreapp3.1
/WebApplication/WebApplication/obj/Debug/netcoreapp3.1
